.checkout
{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100%;
    min-height: calc(100vh - 654px);
}

.checkout-content
{
    width: 1280px;
    padding: 20px;
}

.checkout-form
{
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg-color-accent);
    border-radius: 12px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 20px 0px;
}

.checkout-input
{
    width: 100%;
    padding: 5px 7px;
    font-size: 1rem;
}

.checkout-textarea
{
    resize: none;
    height: 6rem;
    font-size: 1rem;
}

.checkout-input:focus, .checkout-textarea:focus
{
    outline: 1px solid var(--accent-color);
}

.checkout-column
{
    display: flex;
    flex-direction: column;
}

.checkout-heading
{
    font-size: 1.5rem;
    border-bottom: 1px solid var(--header-links-bg-border);
    padding-bottom: 10px;
}

.checkout-heading-h2
{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.checkout-row
{
    margin: 7px 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.checkout-row.delivery-options
{
    display: flex;
    flex-direction: row;
}

.checkout-row h1
{
    font-weight: 600;
    padding-bottom: 3px;
}

.checkout-row label
{
    font-weight: 300;
    padding-bottom: 3px;
}

.delivery-options-row .checkout-label
{
    margin-left: 7px;
}

.checkout-items-details
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.checkout-items-overview
{
    overflow-y: auto;
}

.checkout-summary
{
    display: flex;
    flex-direction: column;
    max-height: 434px;
}

.checkout-items-item
{
    display: grid;
    grid-template-columns: 1fr 3fr 1.1fr .7fr;
    max-height: 100px;
    height: 100px;
    overflow: hidden;
    padding: 7px;
    border-bottom: 1px solid var(--header-links-bg);
}

.overview-heading
{
    border-bottom: 1px solid var(--header-links-bg);
}

.checkout-item-price
{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-item-img
{
    width: auto;
    max-width: 90px;
    height: auto;
    max-height: 90px;
}

.checkout-item-name
{
    font-size: 1.2rem;
}

.checkout-item-quantity
{
    font-size: 1rem;
    font-weight: 300;
}

.checkout-delete-item-btn
{
    align-self: center;
    padding: 7px;
    cursor: pointer;
    transition: all .3s;
}

.checkout-delete-item-btn:hover
{
    color: var(--header-links-bg);
}

.payment-summary
{
    margin-top: 20px;
}

.payment-summary-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.payment-summary-row span
{
    font-size: 1.2rem;
}

.checkout-error
{
    color: rgb(200, 0, 0);
}

.checkout-row.hidden
{
    display: none;
}

.hidden
{
    visibility: hidden;
}

.order-confirmation
{
    text-align: center;
    padding: 20px;
}

.shipping-reminder
{
    margin-top: 10px;
    font-size: .9rem;
    font-style: italic;
}

.order-confirmation.hidden, .checkout-form.hidden
{
    display: none;
}

.mandatory-field
{
    color: red;
}

/* Tablet */
@media screen and ((min-width: 769px) and (max-width: 1279px))
{
    .checkout-content
    {
        width: 50%;
        min-width: 600px;
        padding: 20px 0px;
        margin-top: 30px;
    }

    .checkout-form
    {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .checkout-items-item
    {
        display: grid;
        grid-template-columns: 2fr 3fr 1.1fr .7fr;
        max-height: 125px;
        height: auto;
        overflow: hidden;
        padding: 7px;
        border-bottom: 1px solid var(--header-links-bg);
    }

    .checkout-item-price, .checkout-item-name
    {
        max-height: 100%;
        font-size: 1rem;
    }

    .checkout-summary
    {
        display: flex;
        flex-direction: column;
        max-height: 455px;
    }
}

/* Telefon */
@media screen and (max-width: 768px)
{
    .checkout-content
    {
        width: 100%;
        padding: 30px 0px;
    }

    .checkout-form
    {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .checkout-items-item
    {
        display: grid;
        grid-template-columns: 2fr 3fr 1.1fr .7fr;
        max-height: 125px;
        height: auto;
        overflow: hidden;
        padding: 7px;
        border-bottom: 1px solid var(--header-links-bg);
    }

    .checkout-item-price, .checkout-item-name
    {
        max-height: 100%;
        font-size: 1rem;
    }

    .checkout-summary
    {
        display: flex;
        flex-direction: column;
        max-height: 455px;
    }
}