.cart
{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100%;
    min-height: calc(100vh - 654px);
}

.cart-content
{
    width: 1280px;
    padding: 20px;
    z-index: 1;
}

.cart-heading
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.cart-preview-header
{
    height: 30px;
    background-color:  var(--accent-color);
}

.cart-preview
{
    flex-grow: 1;
    border-collapse: collapse;
    border-radius: 15px;
    background-color: var(--text-color);
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.cart-item:last-child
{
    border-bottom: 0px;
}

.checkout-btn
{
    width: 100%;
    background-color: var(--accent-color);
    transition: all .3s;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--header-links-bg);
    border: none;
    outline: none;
    cursor: pointer;
}

.checkout-btn:hover
{
    background-color: var(--accent-hover);
}

.cart-checkout
{
    width: 30%;
    height: 300px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--text-color);
}

.cart-checkout-summary
{
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--text-accent);
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 20px 0px;
}

.cart-checkout-summary-row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-checkout-summary-row-total
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 20px 0px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.checkout-icon
{
    margin-left: 10px;
}

.cart-checkout-summary-row h2
{
    font-weight: 300;
    font-size: 1rem;
}

.cart-checkout-heading
{
    width: 100%;
    border-bottom: 1px solid var(--text-accent);
}

.cart-checkout-heading h1
{
    font-weight: 300;
    height: 40px;
    font-size: 1.5rem;
}

.cart-item
{
    border-bottom: 1px solid var(--text-accent);
}

td
{
    text-align: center;
}

.cart-item img
{
    height: 100px;
    width: 100px;
}

.cart-item-product-cell
{
    display: flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.cart-item td h2
{
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.cart-flex-container
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.preview-product-heading
{
    width: 50%;
}

.preview-quantity-heading
{
    width: 20%;
}

.preview-price-heading
{
    width: 20%;
}

.preview-delete-heading
{
    width: 10%;
}

.cart-item-delete-btn
{
    cursor: pointer;
    transition: all .3s;
    font-size: 1.5rem;
}

.cart-item-delete-btn:hover
{
    color: var(--header-links-bg-border-color);
}

.cart-item-qty
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid var(--text-accent);
    width: 60px;
    font-size: 1.2rem;
    text-align: center;
}

.decrease-qty-btn, .increase-qty-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid var(--text-accent);
    font-weight: bold;
}

.decrease-qty-btn:hover, .increase-qty-btn:hover
{
    background-color: var(--accent-color);
    transition: all .3s;
}

.decrease-qty-btn
{
    border-right: none;
}

.increase-qty-btn
{
    border-left: none;
}


.cart-item-qty-input
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablets */
@media screen and ((max-width: 1279px) and (min-width: 769px)) 
{
    .cart-flex-container
    {
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .cart-checkout
    {
        min-width: 350px;
    }

    .cart-heading
    {
        margin-top: 30px;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    .cart-content
    {
        width: 100vw;
        padding: 40px 7px;
        height: 100%;
    }

    .cart-heading
    {
        margin: 20px 0px;
    }

    .cart-flex-container
    {
        position: relative;
        flex-direction: column;
    }

    .cart-item-product-cell
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cart-preview-header
    {
        height: 30px;
        background-color:  var(--accent-color);
        width: 90vw;
    }

    .cart-preview
    {
        width: 100%;
    }

    .cart-item td h2
    {
        padding: 0px;
        font-size: 1rem;
    }

    .cart-checkout
    {
        width: 100%;
    }

    .cart-item img
    {
        height: 75px;
        width: 75px;
    }

    .cart-item-qty
    {
        height: 40px;
        width: 30px;
        font-size: 1rem;
    }

    .decrease-qty-btn, .increase-qty-btn
    {
        height: 40px;
        width: 30px;
    }

    .preview-product-heading
    {
        width: 30%;
    }
}